body {
    font-size: 100%;
}
h1 {
    font-family: Verdana, Helvetica, sans-serif;
}
h2 {
    font-family: "Copperplate", "Papyrus", fantasy;
}
p {
    font-family: "Brush Script MT", "Lucida Handwriting", cursive;
}